<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=640">

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" media="screen">
    <link rel="stylesheet" href="{{ '/assets/css/mobile.css' | relative_url }}" media="only screen and (max-width:640px)">
    <link rel="stylesheet" href="{{ '/assets/css/non-screen.css' | relative_url }}" media="only screen and (max-width:640px)">

    <script src="{{ '/assets/js/modernizr.js' | relative_url }}"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/headsmart.min.js' | relative_url }}"></script>
    <script>
      $(document).ready(function () {
        $('#main_content').headsmart()
      })
    </script>
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        const button = document.getElementById('button');
        const answerInput = document.getElementById('answer');
        const indiceDiv = document.getElementById('indice');
        const errorDiv = document.getElementById('error');

        button.addEventListener('click', function (e) {
          e.preventDefault();
          indiceDiv.style.display = 'none';
          errorDiv.style.display = 'none';
          if (answerInput.value.toLowerCase().normalize("NFD").replace(/\p{Diacritic}/gu, "").replace(/œ/gu, "oe").replace(/-/gu, " ") === "sacre coeur"
          || answerInput.value.toLowerCase().normalize("NFD").replace(/\p{Diacritic}/gu, "").replace(/œ/gu, "oe").replace(/-/gu, " ") === "coeur sacre") {
            indiceDiv.style.display = 'block';
          } else {
            errorDiv.style.display = 'block';
          }
        });
      });
    </script>
  </head>

  <body>
    <div class="shell">

      <header>
        <div class="ribbon-outer">
          <a href="/" class="zip">
          <div class="ribbon-inner">
            <h1>{{ site.title | default: site.github.repository_name }}</h1>
            <h2>{{ site.description | default: site.github.project_tagline }}</h2>
          </div>
          </a>
          <div class="custom-box">
            <div class="custom-sub-box">
              <a href="/lieux" class="custom-link">Notes</a>
              <a href="/plan" class="custom-link">Plan</a>
            </div>
          </div>
          <span class="left-tail"></span>
          <span class="right-tail"></span>
        </div>
      </header>

        <section id="downloads">
          <span class="inner">
            <a href="/lieux" class="zip">Notes</a><a href="/plan" class="tgz">Plan</a>
          </span>
        </section>


      <span class="banner-fix"></span>


      <section id="main_content">
        {{ content }}
        <form>
          <fieldset class="fieldset">
            <input type="text" id="answer" class="valider"/><br/>
            <button id="button" class="valider">Valider</button>
          </fieldset>
        </form>

        <div id="indice" style="display: none">
          <p>Bravo ! Tu as trouvé le secret de Paray-Le-Monial !</p>
          <p>Ici, Jésus a révélé son Cœur Sacré, signe de son Amour infini pour toi en particulier</p>
          <p>Et il t'invite à vivre avec Lui et l'aimer en retour</p>
          <img class="result" src="/assets/images/sacrecoeur2.png">
        </div>

        <div id="error" style="display: none">
          <p>Oups, ce n'est pas la bonne réponse !</p>
          <p>Tu peux réessayer.</p>
        </div>
      </section>

      <footer>
        <span class="ribbon-outer">
          <span class="ribbon-inner">
          </span>
          <span class="left-tail"></span>
          <span class="right-tail"></span>
        </span>

      </footer>

    </div>
  </body>
</html>
