<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=640">

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" media="screen">
    <link rel="stylesheet" href="{{ '/assets/css/mobile.css' | relative_url }}" media="only screen and (max-width:640px)">
    <link rel="stylesheet" href="{{ '/assets/css/non-screen.css' | relative_url }}" media="only screen and (max-width:640px)">

    <script src="{{ '/assets/js/modernizr.js' | relative_url }}"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/headsmart.min.js' | relative_url }}"></script>
    <script>
      $(document).ready(function () {
        $('#main_content').headsmart()
      })
    </script>
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        const items = document.querySelectorAll('#carousel .carousel-item');
        let current = Math.floor(Math.random() * items.length);

        function showItem(index) {
          items.forEach((item, i) => {
            item.style.display = (i === index) ? 'block' : 'none';
          });
        }

        showItem(current);

        document.getElementById('prevBtn').addEventListener('click', function () {
          current = (current === 0) ? items.length - 1 : current - 1;
          showItem(current);
        });

        document.getElementById('nextBtn').addEventListener('click', function () {
          current = (current === items.length - 1) ? 0 : current + 1;
          showItem(current);
        });
      });
    </script>
  </head>

  <body>
    <div class="shell">

      <header>
        <div class="ribbon-outer">
          <a href="/" class="zip">
          <div class="ribbon-inner">
            <h1>{{ site.title | default: site.github.repository_name }}</h1>
            <h2>{{ site.description | default: site.github.project_tagline }}</h2>
          </div>
          </a>
          <div class="custom-box">
            <div class="custom-sub-box">
              <a href="/plan" class="custom-link">Plan</a>
              <a href="/enigme" class="custom-link">Enigme</a>
            </div>
          </div>
          <span class="left-tail"></span>
          <span class="right-tail"></span>
        </div>
      </header>

        <section id="downloads">
          <span class="inner">
            <a href="/plan" class="zip">Plan</a><a href="/enigme" class="tgz">Enigme</a>
          </span>
        </section>


      <span class="banner-fix"></span>


      <section id="main_content">
        {{ content }}
        <div id="carousel">
          <div class="carousel-item" style="display:none;">
            <img src="/assets/images/wordcloud.png" alt="parc des chapelains">
          </div>
          <div class="carousel-item" style="display:none;">
            <div>
              <ul>
                <li>Mon premier est un lieu de prière</li>
                <li>Mon second est toujours deuxième</li>
                <li>Mon troisième échappe au nourrisson</li>
                <li>Mon quatrième exprime son désaccord</li>
              </ul>
              <p>Mon tout est un lieu marial</p>
            </div>
          </div>
          <div class="carousel-item" style="display:none;">
            <div>
              <p>En ces jours-là, Marie se mit en route et se rendit avec empressement vers la région montagneuse, dans une ville de Judée.</p>
              <p>Elle entra dans la maison de Zacharie et salua Élisabeth.</p>
            </div>
            </div>
          <div class="carousel-item" style="display:none;">
            <img src="/assets/images/basilicbasilic.png"  alt="basilique">
          </div>
          <div class="carousel-item" style="display:none;">
            <img src="/assets/images/rebus.png"  alt="claude la colombiere">
          </div>
        </div>
        <div class="carousel-command">
          <button id="prevBtn" class="command" style="transform: rotate(180deg);"><img src="/assets/images/chevron-2x.png"></button>
          <button id="nextBtn" class="command"><img src="/assets/images/chevron-2x.png"></button>
        </div>
      </section>

      <footer class="footer">
        <span class="ribbon-outer">
          <span class="ribbon-inner">
            <a class="instructions" href="/instructions">Lire les instructions</a>
          </span>
          <span class="left-tail"></span>
          <span class="right-tail"></span>
        </span>

      </footer>

    </div>
  </body>
</html>
